html{
    direction: ltr;
}
:root{
    --dark-color: #000000;
    --icon-color:#d9168d;
    --light-color:#ffffff;
}
/* main menu style */


#main-menu .container{
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    background-color: var(--dark-color);
    width: 100%;
    font-family: "rubik", sans-serif;
}


/* left section style */


#main-menu .container .left-section div{
    display: inline-block;
    float: right;
    margin: 1rem;
}
#main-menu .container .left-section div a{
    color: var(--light-color);
    font-size: .7rem;
}
#main-menu .container .left-section div:hover a{
    color:var(--icon-color) ;
}


/* center section style */


#main-menu .container .center-section div{
    text-align: center;
    margin: 1rem;
}
#main-menu .container .center-section div a{
    color: var(--light-color);
    font-size: .8rem;
}


/* right section style */


#main-menu .container .right-section div{
    display: inline-block;
    float: left;
    margin: 1rem;
}
#main-menu .container .right-section div a{
    color: var(--light-color);
    font-size: .7rem;
}
#main-menu .container .right-section div #cart{
    font-size: 1rem;
}
#main-menu .container .right-section div #cart span{
    color: var(--icon-color);
}
#main-menu .container .right-section div:hover a{
    color:var(--icon-color) ;
}


/* search section style */


#header-items{
    padding: 1rem;
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: end;
}
#header-items #search{
    margin: 2rem 1rem;
}
#header-items #search #search-box{
    border: 1px solid rgba(128, 128, 128, 0.49);
    padding: .5rem;
}
#header-items #search #search-box input{
    border: none;
}
#header-items #search #search-box input:focus-visible{
    outline: 0;
}


/* header logo section */


#header-logo{
    text-align: center;
    width: 50%;
    margin: 1rem;
}
#header-logo span{
    display: block;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
}
#header-logo a span:last-child{
    font-family: "rubik", sans-serif;
    color: grey;
    font-size: .7rem;
    font-weight: 100;
    margin-top: .3rem;
}


/* header nav style */


.header-nav{
    width: 70%;
    margin: auto;
}


/* header nav ul style*/


.header-nav #header-menu{
    display:grid;
    grid-template-columns: repeat(5,2fr);
}


/* header nav ul li style*/


.header-nav #header-menu > li{
    display: block;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.header-nav #header-menu li:hover span{
    right: 0;
    transition: 500ms;
}


/* header nav ul li span style*/


.header-nav #header-menu li span{
    width: 100%;
    display: block;
    border-bottom: 2px solid var(--icon-color);
    position: relative;
    right: 100%;
    margin-top: .3rem;
}


/* header nav ul li a style*/


.header-nav #header-menu li a{
    font-size: .9rem;
    padding: .3rem;
    font-family: "rubik", sans-serif;
    color: black;
    font-weight: bold;
    position: relative;
}
.header-nav #header-menu li:hover > a{
    color: var(--icon-color);
 }


/* responsive header nav style */


#left-header-menu{
    display: none;
}
#right-header-menu{
    display: none;
}
#right-header-menu span{
    color: var(--icon-color);
    font-size: 1.5rem;
}
#right-header-menu a,
#left-header-menu a{
    color: black;
}
#right-header-menu a:hover i,
#left-header-menu a:hover i{
    color: var(--icon-color);
}

/* shop now style */

#shop-now-back{
    background: url("../img/img1.jpg") center/cover no-repeat;
    width: 100%;
    position: relative;
}

#shop-now-back section{
    width: 60%;
    margin: auto;
    padding: 7rem;
}
#shop-now-back section h2{
    font-family: "Borel";
    font-size: 2rem;
}
#shop-now-back section p{
    font-size: 3.5rem;
    width: 70%;
    text-align: left;
    margin-bottom: 2rem;
}
#shop-now-back section a{
    color: white;
    background: var(--icon-color);
    font-family: "rubik";
    font-size: .7rem;
    padding: 1rem;
}
#shop-now-back div {
    width: 100%;
    display: inline-block;
    text-align: center;
}
#shop-now-back div a i:last-child{
    color: var(--icon-color);
}
#shop-now-back #dir-left{
    float: left;
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 4rem;
}
#shop-now-back #dir-right{
    float: right;
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 4rem;
}
#dir-right:hover,#dir-left:hover{
    color: var(--icon-color);
}

/* block 1 style */


#block1{
    max-width: 85%;
    margin: 1.5rem auto;
    display:flex;
    justify-content: space-between;
    position: relative;
    max-height: 60vh;
}
#block1 #left-img {
    position: relative;
    max-width: 50%;
    overflow: hidden;
}
#block1 #left-img a{
    position: relative;
    width: 100%;
}
#block1 #left-img a img {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#block1 #left-img a div{
    position: absolute;
    top: 50%;
    top: -250px;
    padding: 1.5rem;
}
#block1 #left-img a div span{
    font-family: "rubik";
    font-size: .7rem;
}
#block1 #left-img a div h2{
    font-size: 2rem;
    font-weight: bold;
    max-width: 60%;
    line-height: 2.2rem;
    margin: .5rem 0;
}
#block1 #left-img a div button{
    margin-top: 2rem;
    color: var(--icon-color);
    font-size: .7rem;
    border: none;
    border-bottom: 1px solid var(--icon-color);
    padding: 0;
}
#block1 #left-img a:hover img{
    transform: scale(1.1);
    transition: 500ms;
}



#block1 #right-img{
    position: relative;
    max-width: 40%;
    overflow: hidden;
    text-align: center;
}
#block1 #right-img a{
    width: 100%;
    position: relative;
}
#block1 #right-img a img{
    width: 100%;
    position: relative;
    height: 100%;
    overflow: hidden;
}
#block1 #right-img a:hover img{
    transform: scale(1.1);
    transition: 500ms;
}
#block1 #right-img a section{
    top: -200px;
    position: absolute;
    background: var(--light-color);
    max-width: 60%;
    margin: auto;
    padding: 1rem;
    left: 15%;
}
#block1 #right-img a section span{
    font-family: "rubik";
    font-size: .7rem;
}
#block1 #right-img a section h2{
    font-size: 2rem;
    color: var(--icon-color);
    margin-bottom: 1rem;
}
#block1 #right-img a section span:last-child{
    border: none;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    font-size: 1.5rem;
}

/* box1 style */

#box1{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    max-width: 85%;
    margin: 1.5rem auto;
    border: 3px solid var(--icon-color);
    padding: 1.5rem 0;
    text-align: center;
}

#box1 div a{
    display:grid;
    grid-template-columns: 1fr 3fr;
    text-align: left;
}
#box1 div a div i{
font-size: 2rem;
    direction: rtl;
}
#box1 div a div h2{
    font-family: "rubik";
    font-weight: bold;
    font-size: .8rem;
}
#box1 div a div span{
    font-size: .7rem;
    font-family: "rubik";
    color: grey;
}
#box1 div a .i-dir{
    text-align: right;
    padding-right: .3rem;
}
#box1 div a > div:not(.i-dir){
    padding-top: .3rem;
}
#box1 div a:hover .i-dir i{
    color: var(--icon-color);
}

/* Featured Products style*/

#featured-pro{
    width:100%;
    text-align: center;
    margin-top:150px;
    position: relative;
}
#featured-pro h2{
font-size: 2.5rem;
    font-weight: bold;
}
#featured-pro > span{
    font-size: .7rem;
    font-family: "rubik";
    color: #605c5c;
    margin-top: 1rem;
}
#featured-pro > div{
    position: absolute;
    bottom: 50%;
    right: 0;
    margin-right: 4rem;
}
#featured-pro > div a div{
    display: inline-block;
}
.left-dir:hover div,
.right-dir:hover div{
    color: var(--icon-color);
    transform: scale(2);
}



/* products style */

#container{
    width: 85%;
    margin:3rem auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
#container div:not(.star){
    margin: .5rem;
}
#container #pro1{
    background: url("../img/img2-2.jpg") center/cover no-repeat;
    position: relative;
    height: 250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
}
#container #pro2{
    background: url("../img/img2-3.jpg") center/cover no-repeat;
    position: relative;
    height: 250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
}
#container #pro3{
    background: url("../img/img2-4.jpg") center/cover no-repeat;
    position: relative;
    height: 250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
}
#container #pro4{
    background: url("../img/img2-5.jpg") center/cover no-repeat;
    position: relative;
    height: 250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
}
#container #pro5{
    background: url("../img/img2-6.jpg") center/cover no-repeat;
    position: relative;
    height: 250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
}
#container div:not(.star) a {
    width: 100%;
}
#container  div:not(.star) a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    transition: 1s;
}
#container .hover:hover img{
    right: 100%;
}
#container  div:not(.star) a #discount{
    position: absolute;
    top: 15px;
    left: 10px;
    background-color: var(--icon-color);
    color: white;
    font-size: .8rem;
    font-family: "rubik";
    padding: .2rem;
}
#container  div:not(.star) a #add{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--icon-color);
    color: white;
    font-size: .9rem;
    font-family: "rubik";
    padding: .5rem;
    text-align: center;
    opacity: 0;
    transition: 200ms;
}
#container  div:not(.star) a .ri-eye-fill{
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0;
}
#container  div:not(.star) a .ri-refresh-line{
    position: absolute;
    top: 35px;
    right: 10px;
    opacity: 0;
}
#container  div:not(.star) a .ri-heart-fill{
    position: absolute;
    top: 60px;
    right: 10px;
    opacity: 0;
}
#container .hover:hover a i:hover{
    color: var(--icon-color);
}
#container .hover:hover #add,
#container .hover:hover a i
{
    opacity: 1;
}
#container .star > a{
    text-align: center;
}
#container .star > a span {
    display:flex;
    justify-content: center;
}
#container .star > a span i{
    color: #ffd700;
}
#container .star > a span .grey{
    color: grey;
}
#container .star > a h6{
    font-family: "rubik";
    font-size: .9rem;
    color: #5a5a5a;
    margin: .7rem 0;
}
#container .star > a h6:hover{
    color: var(--icon-color);
    font-weight: bold;
}
#container .star > a p{
    width: 100%;
    color: var(--icon-color);
}


/*Parallax section style*/


#parallax{
    width: 100%;
    height: 85vh;
    background-image: url("../img/parallax.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    text-align: center;
    display: flex;
}
#parallax #right-parallax {
    background-color: var(--icon-color);
    display: inline-block;
    max-width: 35%;
    margin: 3rem auto;
    text-align: left;
    padding: 2rem;
}
#parallax #left-parallax{
    display: inline-block;
    max-width: 40%;
    margin:10rem auto;
    text-align: left;
}
#parallax #right-parallax i{
    color: var(--light-color);
    font-size: 3.5rem;
}
#parallax #right-parallax p{
    color: var(--light-color);
    font-size: 1.1rem;
    font-family: "rubik";
    line-height: 2rem;
    margin: 1rem auto;
}
#parallax #right-parallax #pro{
    display: flex;
}
#parallax #right-parallax #pro img{
    display: inline-block;
    border-radius:50%;
}
#parallax #right-parallax #pro div {
    display: inline-block;
    margin: 1rem;
}
#parallax #right-parallax #pro div h2{
    font-family: "rubik";
    color: var(--light-color);
    text-transform:capitalize ;
}
#parallax #right-parallax #pro div span{
    font-family: "rubik";
    color: var(--light-color);
    font-size: .8rem;
    text-transform:capitalize ;
}
#parallax #left-parallax span{
    color: var(--light-color);
    font-size: 1.5rem;
    font-family: "rubik";
    margin: 2rem auto;
}
#parallax #left-parallax h2{
    font-size: 2.6rem;
    color: var(--light-color);
    margin: 2rem auto 6rem;
}
#parallax #left-parallax a{
    color: var(--icon-color);
    font-family: "rubik";
    text-decoration: underline;
}

/* the blog style */

#the-blog{
    width:100%;
    text-align: center;
    margin-top:150px;
    position: relative;
}
#the-blog h2{
    font-size: 2.5rem;
    font-weight: bold;
}
#the-blog > span{
    font-size: .7rem;
    font-family: "rubik";
    color: #605c5c;
    margin-top: 1rem;
}
#the-blog > div{
    position: absolute;
    bottom: 50%;
    right: 0;
    margin-right: 4rem;
}
#the-blog > div a div{
    display: inline-block;
}

/*items style */

#items{
    width: 85%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin:3rem auto;
    grid-gap: 10px;
}
#items .item .img{
    background-color: var(--dark-color);
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
    margin-bottom: 1rem;
}
#items .item .img img{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 500ms;
}
#items .item .img .ri-search-line{
    position: absolute;
    font-size: 1.5rem;
    color: var(--light-color);
    background-color: var(--dark-color);
    border-radius: 50%;
    padding: .5rem;
    top: 50%;
    left: 40%;
    opacity: 0;
}
#items .item .img .ri-links-fill{
    position: absolute;
    font-size: 1.5rem;
    color: var(--light-color);
    background-color: var(--dark-color);
    border-radius: 50%;
    padding: .5rem;
    top: 50%;
    left: 55%;
    opacity: 0;
}
#items .item .img i:hover{
    background-color: var(--icon-color);
    transition: 300ms;
}
#items .item:hover .img img{
    opacity: .7;
    transform: scale3d(1.2,1.2,1.2);
}
#items .item:hover .img i{
    opacity: 1;
}
#items .item .details span{
    color: var(--icon-color);
    font-size: .8rem;
    font-family: "rubik";
    margin: 1rem 0;
}
#items .item .details h2{
    font-family: "rubik";
    font-size: 1.3rem;
    margin: 1rem 0;
}
#items .item .details p {
    font-family: "rubik";
    color: grey;
}

/* subscribe style */

#subscribe{
    width: 85%;
    border: 5px solid var(--icon-color);
    display: grid;
    grid-template-columns: 2fr 2fr 3fr;
    padding:2rem 1rem;
    margin:6rem auto 3rem;
}
#subscribe div h2{
    font-size: 2.3rem;
    font-weight: bold;
    width: 100%;
}
#subscribe div p{
    font-family: "rubik";
    color: grey;
    margin-left: .5rem;
}
#subscribe div p span{
    color: var(--icon-color);
    font-weight: bold;
}
#subscribe div input{
    display: inline-block;
    width: 70%;
    border: none;
    background-color: rgba(140, 135, 135, 0.63);
    padding: .7rem .5rem;
}
#subscribe div input:focus-visible{
    outline: none;
}
#subscribe div input::placeholder{
    color: #332f2f;
}
#subscribe div button{
    display: inline-block;
    background-color: var(--icon-color);
    border: none;
    padding: .7rem .5rem;
    color: white;
    font-family: "rubik";
}

/* brands style */

#brands{
    width: 85%;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    margin: 0 auto 2rem;
    text-align: center;
}
#brands div img{
    width: 70%;
}


