
html{
    direction: ltr;
}
:root{
    --dark-color: #000000;
    --icon-color:#d9168d;
    --light-color:#ffffff;
}
/* main menu style */
#main-menu .container{
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    background-color: var(--dark-color);
    width: 100%;
    font-family: rubik, sans-serif;
}
/* left section style */
#main-menu .container .left-section div{
    display: inline-block;
    float: right;
    margin: 1rem;
}
#main-menu .container .left-section div a{
    color: var(--light-color);
    font-size: .7rem;
}
#main-menu .container .left-section div:hover a{
    color:var(--icon-color) ;
}
/* center section style */
#main-menu .container .center-section div{
    text-align: center;
    margin: 1rem;
}
#main-menu .container .center-section div a{
    color: var(--light-color);
    font-size: .8rem;
}
/* right section style */
#main-menu .container .right-section div{
    display: inline-block;
    float: left;
    margin: 1rem;
}
#main-menu .container .right-section div a{
    color: var(--light-color);
    font-size: .7rem;
}
#main-menu .container .right-section div #cart{
    font-size: 1rem;
}
#main-menu .container .right-section div #cart span{
    color: var(--icon-color);
}
#main-menu .container .right-section div:hover a{
    color:var(--icon-color) ;
}
/* search section style */
#header-items{
    padding: 1rem;
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: end;
}
#header-items #search{
    margin: 2rem 1rem;
}
#header-items #search #search-box{
    border: 1px solid rgba(128, 128, 128, 0.49);
    padding: .5rem;
}
#header-items #search #search-box input{
    border: none;
}
/* header logo section */
#header-logo{
    text-align: center;
    width: 50%;
    margin: 1rem;
}
#header-logo span{
    display: block;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
}
#header-logo a span:last-child{
    font-family: rubik, sans-serif;
    color: grey;
    font-size: .7rem;
    font-weight: 100;
    margin-top: .3rem;
}









